<div class="flex flex-col items-center w-full justify-center"> 


<nav class="w-full">
    <div class="flex flex-col items-center w-full justify-center bg-gray-900 gap-12 pb-2 pt-2"> 
        <div>
            <p class="text-white font-bold">Architettura Punto Zero </p>
        </div>
    </div>

    <div class="flex flex-row items-center w-full border-2 border-gray-300">
        <img class="w-36 h-20 pl-4" src="/images/logoreal.png" />
        
        <div class="flex flex-row gap-10 font-bold pt-8 justify-center flex-1 hidden md:flex">
            <a href="home">Home</a>
            <a href="progetti">Progetti</a>
            <a>Prodotti</a>
            <a>Designers</a>
            <a>News</a>
            <a>Story</a>   
        </div>

        <div class="flex flex-row gap-8 pr-10">
            <a>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M10.5 3.75a6.75 6.75 0 100 13.5 6.75 6.75 0 000-13.5zM2.25 10.5a8.25 8.25 0 1114.59 5.28l4.69 4.69a.75.75 0 11-1.06 1.06l-4.69-4.69A8.25 8.25 0 012.25 10.5z" clip-rule="evenodd" />
                </svg>
            </a>
            <a>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M12 2.25c-5.304 0-9.75 4.446-9.75 9.75s9.75 13.5 9.75 13.5 9.75-9.75 9.75-13.5S17.304 2.25 12 2.25zM12 14.25a2.25 2.25 0 100-4.5 2.25 2.25 0 000 4.5z" clip-rule="evenodd" />
                </svg>
            </a>
            <a>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path d="M2.25 2.25h2.25l.5 5.013c.449.438.89.789 1.33.98l.103.025A11.917 11.917 0 0012 8.25c.85.002 1.7-.105 2.5-.302l.103-.025c.44-.191.88-.542 1.32-.98l.5-5.013h8.25a2.25 2.25 0 012.25 2.25v15.75a2.25 2.25 0 01-2.25 2.25H4.5a2.25 2.25 0 01-2.25-2.25V4.5a2.25 2.25 0 012.25-2.25z" />
                </svg>
            </a>
            <a>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </a>
        </div>
    </div>
</nav>













  </div>
</main>



<main class="flex-grow">
  <div class="py-16 bg-gray-900">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">


        <div class="absolute bottom-0 left-0 p-8 text-white z-10">
        </div>

      <h2 class="text-4xl font-bold font-serif text-white text-center mb-12">I Nostri Progetti</h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mb-24">
        <div class="overflow-hidden rounded-xl shadow-xl transform hover:scale-[1.02] transition duration-300">
          <img src='/images/piscinacasa.jpg' alt='Progetto Architettonico Innovativo' class='w-full h-80 object-cover'>
          <div class="p-4 bg-gray-800">
            <h3 class="text-xl font-bold text-white mb-2">Design Innovativo</h3>
            <p class="text-gray-300">Un capolavoro di design moderno con linee pulite e spazi aperti.</p>
          </div>
        </div>

        <div class="overflow-hidden rounded-xl shadow-xl transform hover:scale-[1.02] transition duration-300">
          <img src='/images/swarowski.jpg' alt='Dettagli di Interior Design' class='w-full h-80 object-cover'>
          <div class="p-4 bg-gray-800">
            <h3 class="text-xl font-bold text-white mb-2">Loft Urbano</h3>
            <p class="text-gray-300">Un rifugio urbano di stile e comfort, con materiali naturali.</p>
          </div>
        </div>

        <div class="overflow-hidden rounded-xl shadow-xl transform hover:scale-[1.02] transition duration-300">
          <img src='/images/comune.jpg' alt='Ristrutturazioni Ecosostenibili' class='w-full h-80 object-cover'>
          <div class="p-4 bg-gray-800">
            <h3 class="text-xl font-bold text-white mb-2">Residenza Natalizia</h3>
            <p class="text-gray-300">Ristrutturazioni ecosostenibili con focus su efficienza energetica.</p>
          </div>
        </div>

        <div class="overflow-hidden rounded-xl shadow-xl transform hover:scale-[1.02] transition duration-300">
          <img src='/images/cubonero.jpg' alt='Descrizione Immagine 4' class='w-full h-80 object-cover'>
          <div class="p-4 bg-gray-800">
            <h3 class="text-xl font-bold text-white mb-2">Spazio Creativo</h3>
            <p class="text-gray-300">Un ambiente che ispira creatività e produttività, ideale per uffici.</p>
          </div>
        </div>

        <div class="overflow-hidden rounded-xl shadow-xl transform hover:scale-[1.02] transition duration-300">
          <img src='/images/boia.jpg' alt='Ristrutturazioni Ecosostenibili' class='w-full h-80 object-cover'>
          <div class="p-4 bg-gray-800">
            <h3 class="text-xl font-bold text-white mb-2">Palazzo Apocalittico</h3>
            <p class="text-gray-300">L'immagine mostra un grattacielo imponente con una facciata rossa che si estende verso il cielo. La ripresa è dal basso, enfatizzando l'altezza dell'edificio. Lo sfondo è un cielo grigio.</p>
          </div>
        </div>

        <div class="overflow-hidden rounded-xl shadow-xl transform hover:scale-[1.02] transition duration-300">
          <img src='/images/blufigo.jpg' alt='Ristrutturazioni Ecosostenibili' class='w-full h-80 object-cover'>
          <div class="p-4 bg-gray-800">
            <h3 class="text-xl font-bold text-white mb-2">Armonia Azzurra</h3>
            <p class="text-gray-300">L'immagine cattura una prospettiva dal basso, guardando verso l'alto un gruppo di moderni grattacieli che incorniciano un cielo azzurro. Al centro della composizione, un aereo vola sereno.   </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


















  </div>
</main>

  <footer class="flex-grow bg-gray-900 border-black pt-10 pb-10">
    <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8 grid grid-cols-1 md:grid-cols-6 gap-8">
      <div class="md:col-span-2">
        <h3 class="text-[20px] font-bold text-gray-900 tracking-wider mb-4"> <%= "Scrivici" %> </h3>
        <p class="text-gray-500 text-sm mb-4"><%= "" %></p>
        <div class="flex rounded-md shadow-sm w-full">
          <input type="email" class="appearance-none block w-full px-4 py-2 border border-gray-300 rounded-l-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="<%= "La tua email" %>">
          <button type="button" class="bg-gray-600 hover:bg-gray-900 text-white font-medium rounded-r-md px-4 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
              <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </div>

      <div>
        <h3 class="text-sm font-bold text-gray-900 text-[15px] tracking-wider mb-4"><%= "Assistenza" %></h3>
        <ul class="text-gray-500 text-sm space-y-2">
          <li><a href="#" class="hover:text-gray-700"><%= "Informazioni" %></a></li>
          <li><a href="#" class="hover:text-gray-700"><%= "World" %></a></li>
          <li><a href="#" class="hover:text-gray-700"><%= "Dashboard" %></a></li>
          <li><a href="#" class="hover:text-gray-700"><%= "Contattaci" %></a></li>
          <li><a href="#" class="hover:text-gray-700"><%= "Il tuo account" %></a></li>
        </ul>
      </div>

      <div>
        <h3 class="text-sm font-bold text-gray-900 text-[15px] tracking-wider mb-4"><%= "Informazioni" %></h3>
        <ul class="text-gray-500 text-sm space-y-2">
          <li><a href="#" class="hover:text-gray-700">Lavora con noi</a></li>
          <li><a href="#" class="hover:text-gray-700">Area Download</a></li>
          <li><a href="#" class="hover:text-gray-700">Store Locator</a></li>
          <li><a href="#" class="hover:text-gray-700">Dichiarazioni di conformità e Note Informative</a></li>
          <li><a href="#" class="hover:text-gray-700">Bilanci di Sostenibilità - Archivio</a></li>
        </ul>
      </div>

      <div>
        <h3 class="text-sm font-bold text-gray-900 text-[15px] tracking-wider mb-4">World</h3>
        <ul class="text-gray-500 text-sm space-y-2">
          <li><a href="#" class="hover:text-gray-700">Culture</a></li>
          <li><a href="#" class="hover:text-gray-700">Archit World</a></li>
          <li><a href="#" class="hover:text-gray-700">Sostenibilità</a></li>
          <li><a href="#" class="hover:text-gray-700">Tecnologie</a></li>
        </ul>
      </div>

      <div>
        </ul>
      </div>
    </div>
  </footer>
    </div>
















